jsonnet --use-feature=2020-resolver
overrides --use-feature=2020-resolver
flask --use-feature=2020-resolver
allennlp --use-feature=2020-resolver
python-Levenshtein --use-feature=2020-resolver
transformers --use-feature=2020-resolver
scikit-learn --use-feature=2020-resolver
sentencepiece --use-feature=2020-resolver
waitress --use-feature=2020-resolver
pysdb --use-feature=2020-resolver


# if torch doesn't install, execute separately :
# pip install torch==1.3.0
#
# if installation fails for other reason, you may try:
#
# sudo apt install gcc
# conda install -c conda-forge jsonnet


# during development, you will need: 
# libsass==0.20.1 
